.publicCont{
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgb(211, 211, 211);
    width: 30em;
}

.responderCont{
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgb(74, 147, 255);
    width: 30em;
    padding: 1rem;
}